.bottom-part-container {
    position: absolute;
    background-color: var(--color-background);
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;
    display: flex;
    justify-content: start;
    padding-top: .5em;
}

.bottom-part-content {
    display: flex;
    flex-direction: row;
    height: 2.5em;
    padding: 0 1.5em;
    width: 100%;
    flex-wrap: wrap;
    /* allow children to wrap */
    max-width: 100%;
    /* prevent child from growing too much */
    box-sizing: border-box;

}

.to-do-add-button-container {
    border: var(--my-border);
    border-radius: var(--my-border-radius);
    box-shadow: var(--my-box-shadow);
    width: 3.8em;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 0;
    /* important in flex! allows shrinking */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* optional: show ... for long text */
    white-space: nowrap;
}

.to-do-add-button-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(var(--my-icons-shadow));
}

.to-do-add-button-icon {
    width: 1.1em;
    filter: drop-shadow(var(--my-icons-shadow));
}

.input-container {
    border: var(--my-border);
    border-radius: var(--my-border-radius);
    box-shadow: var(--my-box-shadow);
    flex: 1;
    /* margin: 0 5em 0 .2em; */

    min-width: 0;
    /* important in flex! allows shrinking */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* optional: show ... for long text */
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.to-do-input-container {
    flex: 1;
    display: flex;

}