.main-content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 12em;
}

.main-content {
    position: relative;
    height: 100%;
}

.top-and-middel-part {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bottom-part {
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5em;
}


.to-do-list-container {
    /* background-color: red; */
    height: 100%;
    margin: 1.5em 1.5em .5em 1.6em;
    border: none;

}

.to-do-container {
    border: var(--my-border);
    border-radius: var(--my-border-radius);
    box-shadow: var(--my-box-shadow);

    min-height: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.to-do-flex-left {
    /* width: 10%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.check-box-icon-container {
    margin: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2em;
    filter: drop-shadow(var(--my-icons-shadow));

}

.check-box-icon {
    width: 1em;
    filter: drop-shadow(var(--my-icons-shadow));
}

.vertical-divider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.to-do-text-container {
    width: 100%;
    background-color: red;
    overflow: hidden;
}

.to-do-text {
    font-size: 17px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.to-do-flex-right {
    width: 45;
}

.star-icon-container {
    margin: 0 .1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2em;
    filter: drop-shadow(var(--my-icons-shadow));
}

.star-icon {
    width: 1.2em;
}