.editbar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 15em;
    height: 100vh;
    background-color: var(--color-surface-alt);
    box-shadow: 0 0 12em rgba(0, 0, 0, 0.345);
    z-index: 20;
    opacity: 0;
    pointer-events: none;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;


}

.editbar-main-content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 2.9rem;
}

/* Style for the scrollbar itself */
.editbar-main-content::-webkit-scrollbar {
    width: .35em;
    height: .1em;

    /* Make the scrollbar width wide enough to be visible */
}

/* Style for the thumb (the draggable part of the scrollbar) */
.editbar-main-content::-webkit-scrollbar-thumb {
    background-color: var(--color-on-surface);
    /* Gray color for the thumb */

    border-radius: 10px;
    /* Optional: rounds the corners */
}

/* Style for the track (background area of the scrollbar) */
.editbar-main-content::-webkit-scrollbar-track {
    background-color: transparent;
    /* Light background for the track */
    border-radius: 10px;
    /* Optional: rounds the corners */
}

.editbar-container.show-editbar {
    pointer-events: auto;

    opacity: 1;
}

.borded-container {
    border: var(--my-border);
    border-radius: var(--my-border-radius);
    box-shadow: var(--my-box-shadow);
    margin: 0 .5rem;
}

.close-editbar-button-container {
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    /* padding: 1.0rem; */

}


.close-editbar-button {
    margin: 1rem;
    width: 0.8rem;
    /* background-color: var(--color-surface-alt); */
    filter: drop-shadow(var(--my-icons-shadow));
}




.off {
    color: var(--color-comp-on-surface);
    text-shadow: var(--my-completed-text-shadow);
}


.buttom-part-container {

    background-color: var(--color-surface-alt);
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.bottom-part-timestamp-container {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;


}

.timestamp-text {
    margin: .8rem 0;
    font-size: .8em;
}

.delete-button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}



.delete-icon {
    margin: .8rem;
}

.delete-icon {
    width: 1rem;
    filter: drop-shadow(var(--my-icons-shadow));
}

.note-taxt-content {
    font-size: .8em;
}