.to-do-input {
    flex: 1;
    min-width: 0;
    border: none;
    background-color: transparent;
    color: var(--color-on-surface);
    font-size: 19px;
    box-sizing: border-box;
    text-shadow: var(--my-text-shadow);
    padding: 0.6em 0.6em;
    overflow: visible;
    position: relative;
    text-indent: 0.6em;
    text-overflow: inherit;
    vertical-align: middle;
    /* Add this line */



}

.to-do-input::placeholder {
    color: var(--color-on-surface);
    text-shadow: var(--my-text-shadow);
    /* glow for placeholder */
    opacity: 1;
    background: none;
}

.to-do-input:focus {
    outline: none;
    box-shadow: none;
    /* just in case */
    border: none;
}

/* make sure wrapper doesn't clip */
input,
.to-do-input,
input::placeholder {
    overflow: visible;
}

.input-container {
    border: var(--my-border);
    border-radius: var(--my-border-radius);
    box-shadow: var(--my-box-shadow);
    flex: 1;
    margin: 0 0em 0 .3em;
    min-width: 0;
    max-width: 100%;
    overflow: visible;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.3em;
}

.to-do-input-container {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    overflow: visible;
}