.sidebar-container {
    background-color: var(--color-surface-alt);
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 12em;
    box-shadow: 0 0 12em rgba(0, 0, 0, 0.345);
    z-index: 2;
}

.sidebar-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70%;*/
    bottom: 0;
    top: 9em;
    left: 0;
    right: 0;
}

.sidebar-title-container {
    /* background-color: red; */
    height: 8em;
    position: relative;
}

.neo-part {
    margin-top: .4em;
    margin-left: .5em;
    font-size: 60px;
}

.to-do-part {
    font-size: 40px;
    margin: .2em 0 .5em 2em;
}

.sidebar-categories {
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: scroll;
}


/* Style for the scrollbar itself */
.sidebar-categories::-webkit-scrollbar {
    width: .35em;
    height: .1em;
    /* Make the scrollbar width wide enough to be visible */
}

/* Style for the thumb (the draggable part of the scrollbar) */
.sidebar-categories::-webkit-scrollbar-thumb {
    background-color: var(--color-on-surface);
    /* Gray color for the thumb */

    border-radius: 10px;
    /* Optional: rounds the corners */
}

/* Style for the track (background area of the scrollbar) */
.sidebar-categories::-webkit-scrollbar-track {
    background-color: transparent;
    /* Light background for the track */
    border-radius: 10px;
    /* Optional: rounds the corners */
}

/* Optional: Adding hover effect to the thumb */
.sidebar-categories::-webkit-scrollbar-thumb:hover {}


.sidebar-item,
.sidebar-item-add-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 2em;
    margin: .2em 13px;
    border: var(--my-empty-border);
    border-radius: var(--my-border-radius)
}

.sidebar-item:hover,
.sidebar-item-add-btn:hover {
    background-color: rgba(255, 255, 255, 0.03);
    border: var(--my-border);
    border-color: var(--color-background);
    /* box-shadow: var(--my-box-shadow); */
}


.selected-category {
    border: var(--my-border);
    box-shadow: var(--my-box-shadow);
    border-radius: var(--my-border-radius)
}

.category-icon {
    background-color: transparent;
    height: 1.1em;
    width: 1.1em;
    filter: drop-shadow(var(--my-icons-shadow));
    margin: 0 .5em;
    /* width: 40px;
    height: 40px;
    filter: drop-shadow(2px 2px 4px red); */
}

.icon-container {
    display: flex;
    align-items: center;
    place-items: center;
    filter: drop-shadow(var(--my-icons-shadow));
}

.sidebar-new-list-button {
    background-color: var(--color-surface-alt);
    z-index: 4;
}